*{
    margin: 0;
    padding: 0;
    transition: .4s cubic-bezier(0.22, 1, 0.36, 1);
}

body{
    overflow: hidden;
}

.view{
    border-radius: 10px;
    overflow: hidden;
    height: 100dvh; width: 100%;

    webview{
        height: 100%; width: 100%;
    }
}

.view.close{
    transform: translateX(100%);
}