*{
    margin: 0;
    padding: 0;
    transition: .4s cubic-bezier(0.22, 1, 0.36, 1);
    user-select: none;
}

body{
    height: 100dvh; width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.view{
    border-radius: 8px;
    overflow: hidden;
    height: 100dvh; width: 100%;
    background: white;
    opacity: 1;
    transform: scale(1);

    webview{
        height: 100%; width: 100%;
    }
}

.view.close{
    transform: scale(.9);
    opacity: 0;
}


.drag-container{
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-end;


    .drag{
        background-image: url("assets/drag.png");
        background-size: cover;
        height: 20px; width: 20px;
        opacity: 0;
        -webkit-app-region: drag;
    }

}

.drag-container:hover .drag{
    opacity: .5;
}

