*{
    margin: 0;
    padding: 0;
    transition: .4s cubic-bezier(0.22, 1, 0.36, 1);
}

webview{
    height: 100dvh;
    width: 100%;
    position: fixed;
}

webview.close{
    transform: translateX(100%);
}